################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MyQQ/MyQQ/bin/Debug
/.vs/MyQQ/v16
/MyQQ/obj/Debug
/MyQQ.WebApi/obj
/MyQQ.WebApi.Models/obj
